.header {
  background: $blue;

  .header-name {
    color: $white;
  }
}

.ant-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 400px;
  border-radius: 6px;
  transform: translate(-50%,-50%);

  .ant-card-head {
    text-align: center;
  }
}

.ant-layout {
  min-height: 400px;
}

.ant-layout-content {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.header-name {
  width: 100%;
  max-width: 924px;
  margin: 0 auto;
}

.custom-dots {
  margin: 0 auto 15px;

  .custom-icon {
    width: 12px;
    height: 12px;
    margin: 0 4px 0 auto;

    &.color-red {
      fill: $red;
    }

    &.color-yellow {
      fill: $yellow;
    }

    &.color-green {
      fill: $green;
    }
  }
}
